.overlay {
  background-image: url(../images/overlay.png);
  background-position: left center;
  background-size: contain;
  height: 100%;
  width: 100%;
}
.bg-light-blue {
  background-color: $bg-light-blue;
}
