.h-min {
  min-height: 760px;
}
.pt-150 {
  padding-top: 150px;
}
.pt-130 {
  padding-top: 130px;
}
.pb-130 {
  padding-bottom: 130px;
}
.pt-114 {
  padding-top: 114px;
}
.pb-114 {
  padding-bottom: 114px;
}
.pb-120 {
  padding-bottom: 120px;
}
.max-width-600 {
  max-width: 600px;
}
.w-half {
  width: 50%;
}
.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.ml-0 {
  margin-left: 0;
}
.mr-0 {
  margin-right: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}
.pl-0 {
  padding-left: 0;
}
.pr-0 {
  padding-right: 0;
}
.pt-20 {
  padding-top: 20px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-60 {
  padding-bottom: 60px;
}
.pb-50 {
  padding-bottom: 50px;
}
