@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@400;500;600;700&display=swap");

body {
  font-family: $dm-font;
  font-weight: normal;
  font-size: 18px;
}
.font-family-mont {
  font-family: $montserrat-font;
}

.font-size-62 {
  font-size: 62px;
  line-height: 68px;
  @media only screen and (max-width: 576px) {
    font-size: 42px;
    line-height: normal;
  }
}
.font-size-20 {
  font-size: 20px;
}

.font-size-30 {
  font-size: 30px;
  @media only screen and (max-width: 576px) {
    font-size: 26px;
  }
}
.font-size-24 {
  font-size: 24px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-13 {
  font-size: 13px;
}
.font-size-100 {
  font-size: 100px;
}

.text-green {
  color: $color-green;
}
.text-dark-green {
  color: $color-dark-green;
}
.text-black {
  color: black;
}
.text-gray {
  color: #2d3f48;
  opacity: 0.4;
}
.decoration-none {
  text-decoration: none;
}
.icon {
  display: inline-block;
  &.pin {
    background-image: url("../images/pin.svg");
    width: 17px;
    height: 22px;
  }
  &.phone {
    background-image: url("../images/phone.svg");
    width: 17px;
    height: 18px;
  }
  &.envelop {
    background-image: url("../images/mail.svg");
    width: 18px;
    height: 13px;
  }
}
i.phone,
i.linkedin,
i.mail {
  width: 28px;
  height: 28px;
  background-size: 12px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: $color-green;
}
i.linkedin {
  background-image: url("../images/linkedin.svg");
}
i.phone {
  background-image: url("../images/phone-white.svg");
}
i.mail {
  background-image: url("../images/envelop-white.svg");
}
