$montserrat-font: "Montserrat", sans-serif;
$dm-font: "DM Sans", sans-serif;

$font-weight-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-bold: 700;

$bg-light-blue: #e9f1f5;

$bg-dark-green: #03302d;

$color-green: #5ebbbb;

$color-light-green: #DFF1F1;

$color-light-blue: $bg-light-blue;

$color-dark-green: #123232;

$color-white: #fff;

$color-black: #000;

$border-color: #E4E4E4;
